<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MU | 맨쪽이들</title>
    <link rel="stylesheet" th:href="@{/css/admin/playerRead.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>
<body>
<header class="adminHeader" th:replace="admin/adminHeader :: header"></header>
<div class="container">
    <div class="main-box">
        <div class="player-write-box">
            <div class="player-img-box">
                <div class="form-group">
                    <ul class="file-wrap">
                        <li>
                            <div th:if="${player.playerFileName == null}" class="main-img"  style="background-color: indianred"></div>
                            <div th:unless="${player.playerFileName == null}" class="main-img" th:style="${'background-image: url(/upload/' + player.playerFileUploadPath + '/th_' + player.playerFileUuid + '_' + player.playerFileName + ')'}"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="player-information">
                <input type="hidden" class="playerNumber"/>
                <span class="player-title"  name="playerName" th:text="${player.playerName}"></span>
                <span class="player-dob"  name="playerDob"  th:text="${#dates.format(player.playerBirth, 'yyyy년 MM월 dd일')}"></span>
                <div class="player-category">
                    <span>레전더리</span>
                    > <span name="playerBackNumber" th:text="${player.playerBacknumber} + '번'"></span>
                </div>
                <div class="player-category">
                    <span name="playerPosition" th:text="${player.positionName}"></span>
                    / <span name="playerOverall" th:text="${player.playerOverall}"></span> > <span name="playerEnter" th:text="${player.playerEnter} + '경기'" ></span> >
                    <span name="playerTotalScore" th:text="${player.playerTotalScore} + '골'"></span>
                </div>
                <span class="player-content" name="playerContent" th:text="${player.playerContent}"></span>
            </div>
        </div>

        <div class="btn-box">
            <th:block th:if="${session.adminNumber == player.adminNumber}">
            <button type="button" class="delete">삭제</button>
            <button type="button" class="modify">수정</button>
            </th:block>
            <input type="hidden" name="player-num"  class="player-num" th:value="${player.playerNumber}">
            <button type="button" class="before">뒤로</button>
        </div>

    </div>
</div>
</div>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/admin/adminHeader.js}"></script>
<script th:src="@{/js/admin/playerRead.js}"></script>
</body>
</html>
