<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.mup.dto.consumer.ConsumerDto" alias="consumerDto"/>
        <typeAlias type="com.example.mup.dto.museum.PlayerDto" alias="playerDto"/>
        <typeAlias type="com.example.mup.dto.maker.SquadDto" alias="squadDto"/>
        <typeAlias type="com.example.mup.dto.admin.AdminDto" alias="adminDto"/>
        <typeAlias type="com.example.mup.vo.PlayerVo" alias="playerVo"/>
        <typeAlias type="com.example.mup.vo.SearchPlayerVo" alias="searchPlayerVo"/>
        <typeAlias type="com.example.mup.dto.museum.PlayerFileDto" alias="playerFileDto"/>
        <typeAlias type="com.example.mup.vo.Criteria" alias="criteria"/>
        <typeAlias type="com.example.mup.vo.CriteriaAct" alias="criteriaAct"/>
        <typeAlias type="com.example.mup.vo.PageVo" alias="pageVo"/>
        <typeAlias type="com.example.mup.vo.PageActVo" alias="pageActVo"/>
    </typeAliases>
</configuration>