<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mup.mapper.museum.MuseumMapper">
    <select id="selectPlayer" resultType="playerVo">
        SELECT
            P.PLAYER_NUMBER, P.PLAYER_NAME, P.PLAYER_ENTER, P.PLAYER_TOTAL_SCORE,
            P.PLAYER_OVERALL, P.PLAYER_BIRTH, P.PLAYER_CONTENT, P.PLAYER_VIEW_CNT,
            F.FAME_NAME, W.WITH_NAME, POS.POSITION_NAME,
            P.PLAYER_BACKNUMBER, P.ADMIN_NUMBER, A.ADMIN_ID,
            PF.PLAYER_FILE_NAME, PF.PLAYER_FILE_UUID, PF.PLAYER_FILE_UPLOAD_PATH, PLAYER_FILE_NUMBER
        FROM
            TBL_PLAYER P
                JOIN
            TBL_ADMIN A ON P.ADMIN_NUMBER = A.ADMIN_NUMBER
                LEFT JOIN
            TBL_FAME F ON P.FAME_NUMBER = F.FAME_NUMBER
                LEFT JOIN
            TBL_WITH W ON P.WITH_NUMBER = W.WITH_NUMBER
                LEFT JOIN
            TBL_POSITION POS ON P.POSITION_NUMBER = POS.POSITION_NUMBER
                LEFT JOIN
            TBL_PLAYER_FILE PF ON P.PLAYER_NUMBER = PF.PLAYER_NUMBER
        WHERE P.PLAYER_NUMBER = #{playerNumber} AND P.ADMIN_NUMBER = A.ADMIN_NUMBER
    </select>

<!--레전드 선수들-->
    <select id="selectLegendPlayer" resultType="playerVo">
        SELECT PLAYER_NUMBER,
               PLAYER_NAME,
               ADMIN_NUMBER,
               ADMIN_ID,
               FAME_NAME,
               WITH_NAME,
               POSITION_NAME,
               PLAYER_FILE_UPLOAD_PATH,
               PLAYER_FILE_UUID,
               PLAYER_FILE_NAME
        FROM (
                 SELECT ROWNUM AS RNUM, PLAYER_NUMBER,
                        PLAYER_NAME,
                        ADMIN_NUMBER,
                        ADMIN_ID,
                        FAME_NAME,
                        WITH_NAME,
                        POSITION_NAME,
                        PLAYER_FILE_UPLOAD_PATH,
                        PLAYER_FILE_UUID,
                        PLAYER_FILE_NAME
                 FROM (
                          SELECT P.PLAYER_NUMBER,
                                 P.PLAYER_NAME,
                                 P.ADMIN_NUMBER,
                                 A.ADMIN_ID,
                                 F.FAME_NAME,
                                 W.WITH_NAME,
                                 POS.POSITION_NAME,
                                 J.PLAYER_FILE_UPLOAD_PATH,
                                 J.PLAYER_FILE_UUID,
                                 J.PLAYER_FILE_NAME
                          FROM TBL_PLAYER P
                                   JOIN TBL_ADMIN A ON P.ADMIN_NUMBER = A.ADMIN_NUMBER
                                   LEFT JOIN
                               TBL_FAME F ON P.FAME_NUMBER = F.FAME_NUMBER
                                   LEFT JOIN
                               TBL_WITH W ON P.WITH_NUMBER = W.WITH_NUMBER
                                   LEFT JOIN
                               TBL_POSITION POS ON P.POSITION_NUMBER = POS.POSITION_NUMBER
                                   LEFT JOIN (
                              SELECT PLAYER_FILE_NUMBER, PLAYER_FILE_UPLOAD_PATH, PLAYER_FILE_UUID, PLAYER_FILE_NAME, PLAYER_NUMBER
                              FROM (
                                       SELECT PLAYER_FILE_NUMBER, PLAYER_FILE_UPLOAD_PATH, PLAYER_FILE_UUID, PLAYER_FILE_NAME, PLAYER_NUMBER,
                                              RANK() OVER (PARTITION BY PLAYER_NUMBER ORDER BY PLAYER_FILE_NUMBER) RK
                                       FROM TBL_PLAYER_FILE PF
                                   )
                              WHERE RK = 1
                          ) J ON P.PLAYER_NUMBER = J.PLAYER_NUMBER
                          WHERE P.WITH_NUMBER = 2
                          ORDER BY P.PLAYER_NUMBER DESC
                      ) S1
             ) S2
        WHERE RNUM = #{number}
    </select>

<!--레전드 선수 수-->
    <select id="selectLegendCnt" resultType="_int">
        SELECT COUNT (PLAYER_NUMBER)
        FROM TBL_PLAYER
        WHERE WITH_NUMBER = 2
    </select>

<!--현역 선수들-->
    <select id="selectActivePlayer" resultType="playerVo">
        SELECT PLAYER_NUMBER,
               PLAYER_NAME,
               PLAYER_BACKNUMBER,
               PLAYER_VIEW_CNT,
               ADMIN_NUMBER,
               ADMIN_ID,
               FAME_NAME,
               WITH_NAME,
               POSITION_NAME,
               PLAYER_FILE_UPLOAD_PATH,
               PLAYER_FILE_UUID,
               PLAYER_FILE_NAME
        FROM (
                 SELECT ROWNUM AS RNUM, PLAYER_NUMBER,
                        PLAYER_NAME,
                        PLAYER_BACKNUMBER,
                        PLAYER_VIEW_CNT,
                        ADMIN_NUMBER,
                        ADMIN_ID,
                        FAME_NAME,
                        WITH_NAME,
                        POSITION_NAME,
                        PLAYER_FILE_UPLOAD_PATH,
                        PLAYER_FILE_UUID,
                        PLAYER_FILE_NAME
                 FROM (
                          SELECT P.PLAYER_NUMBER,
                                 P.PLAYER_NAME,
                                 P.PLAYER_BACKNUMBER,
                                 P.PLAYER_VIEW_CNT,
                                 P.ADMIN_NUMBER,
                                 A.ADMIN_ID,
                                 F.FAME_NAME,
                                 W.WITH_NAME,
                                 POS.POSITION_NAME,
                                 J.PLAYER_FILE_UPLOAD_PATH,
                                 J.PLAYER_FILE_UUID,
                                 J.PLAYER_FILE_NAME
                          FROM TBL_PLAYER P
                                   JOIN TBL_ADMIN A ON P.ADMIN_NUMBER = A.ADMIN_NUMBER
                                   LEFT JOIN
                               TBL_FAME F ON P.FAME_NUMBER = F.FAME_NUMBER
                                   LEFT JOIN
                               TBL_WITH W ON P.WITH_NUMBER = W.WITH_NUMBER
                                   LEFT JOIN
                               TBL_POSITION POS ON P.POSITION_NUMBER = POS.POSITION_NUMBER
                                   LEFT JOIN (
                              SELECT PLAYER_FILE_NUMBER, PLAYER_FILE_UPLOAD_PATH, PLAYER_FILE_UUID, PLAYER_FILE_NAME, PLAYER_NUMBER
                              FROM (
                                       SELECT PLAYER_FILE_NUMBER, PLAYER_FILE_UPLOAD_PATH, PLAYER_FILE_UUID, PLAYER_FILE_NAME, PLAYER_NUMBER,
                                              RANK() OVER (PARTITION BY PLAYER_NUMBER ORDER BY PLAYER_FILE_NUMBER) RK
                                       FROM TBL_PLAYER_FILE PF
                                   )
                              WHERE RK = 1
                          ) J ON P.PLAYER_NUMBER = J.PLAYER_NUMBER
                          WHERE P.WITH_NUMBER = 1
                          ORDER BY P.PLAYER_NUMBER DESC
                      ) S1
                    <![CDATA[
                 WHERE ROWNUM <= #{page} * #{amount}
        ]]>
             ) S2
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

<!--레전드 선수 수-->
    <select id="selectActiveCnt" resultType="_int">
        SELECT COUNT (PLAYER_NUMBER)
        FROM TBL_PLAYER
        WHERE WITH_NUMBER = 1
    </select>

<!--조회 수-->
    <update id="updateReadCount">
        UPDATE TBL_PLAYER
        SET
            PLAYER_VIEW_CNT = PLAYER_VIEW_CNT + 1
        WHERE PLAYER_NUMBER = #{playerNumber}
    </update>

</mapper>