<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MU | 맨쪽이들</title>
  <link rel="stylesheet" th:href="@{/css/museum/activePlayerList.css}"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="container">
  <div class="mainTitle">
    <h1 class="subTitle">ㅣ선수단 소개ㅣ</h1>
    <p class="titleInfo">현 소속 맨체스터 유나이티드 선수들</p>
  </div>
  <div class="activePlayerList">
    <form
            action="#"
            class="searchForm"
            method="get"
            enctype="multipart/form-data"
    >
      <div class="searchBox">
        <input
                type="text"
                id="search-input"
                class="search_input"
                placeholder="선수 이름을 입력하세요.."
        />
        <button class="searchBtn">
          <span class="hidden">검색쓰</span>
        </button>
      </div>
    </form>
    <table class="ListTable">
      <thead>
      <tr>
        <th scope="col" class="list_number">NO.</th>
        <th scope="col" class="list_name">선수 이름</th>
        <th scope="col" class="list_backNumber">등번호</th>
        <th scope="col" class="list_position">포지션</th>
        <th scope="col" class="list_look">조회수</th>
      </tr>
      </thead>
      <tbody id="playerList" class="playerListA">
      <tr class="player_info" th:each="active, playerIndex : ${activeList}">
        <td scope="row" class="main_list_number">
          <div class="wrap_num" th:text="${playerIndex.index + 1}"></div>
        </td>
        <td scope="row" class="main_list_name" >
                <span class="playerProfile">
                  <a class="wrap_name" th:href="@{/museum/read(playerNumber=${active.playerNumber})}" th:text="${active.playerName}"></a>
                  <img th:src="@{'/upload/' + ${active.playerFileUploadPath} + '/th_' + ${active.playerFileUuid} + '_' + ${active.playerFileName}}" alt="" class="playerImg" />
                </span>
        </td>
        <td scope="row" class="main_list_backNumber">
          <div class="wrap_backNumber" th:text="${active.playerBacknumber}"></div>
        </td>
        <td scope="row" class="main_list_position">
          <div class="wrap_position">
            [ <span class="position_info"
                    th:text="${active.positionName}"
                    th:classappend="${active.positionName == 'GK' ? 'yellow' :
                            active.positionName == 'DF' ? 'blue' :
                            active.positionName == 'MF' ? 'green' :
                            active.positionName == 'FW' ? 'red' : ''}">
    </span> ]
          </div>
        </td>
        <td scope="row" class="main_list_look">
          <div class="wrap_look" th:text="${active.playerViewCnt}"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="page-container">
    <ul class="page-box">
      <a th:href="@{/museum/activeList(page=${pageInfo.startPage - 1})}"  class="page-a"  th:if="${pageInfo.prev}">
        <li class="page-num prev">&lt</li>
      </a>

      <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
        <a th:href="@{/museum/activeList(page=${i})}" class="page-a">
          <li class="page-num active" th:text="${i}" th:if="${i == pageInfo.criteriaAct.page}"></li>
          <li class="page-num" th:text="${i}" th:unless="${i == pageInfo.criteriaAct.page}"></li>
        </a>
      </th:block>

      <a th:href="@{/museum/activeList(page=${pageInfo.endPage + 1})}" class="page-a" th:if="${pageInfo.next}">
        <li class="page-num next">&gt</li>
      </a>
    </ul>
  </div>
</div>
</div>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/museum/activePlayerList.js}"></script>
</body>
</html>
