<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MU | 맨쪽이들</title>
<link rel="stylesheet" th:href="@{/css/museum/allPlayerRead.css}" />
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/fragment/header.css}">
<link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
<link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="container">
    <input type="hidden" name="player-num"  class="player-num" th:value="${allPlayer.playerNumber}">
    <div class="top-side">
        <div class="player-nameBox">
            <div class="player-name" name="playerName" th:utext="${#strings.replace(allPlayer.playerName, ' ', '<br/>')}">
                <br/>
            </div>
        </div>
        <div class="player-img-box">
            <img class="img-list" th:src="@{'/upload/' + ${allPlayer.playerFileUploadPath} + '/th_' + ${allPlayer.playerFileUuid} + '_' + ${allPlayer.playerFileName}}" />
        </div>
        <div class="player-Box">
            <div class="player-info">
                <ul>
                    <li>
                        <div class="player-subTitle">출장</div>
                        <div class="player-enter" name="playerEnter" th:text="${allPlayer.playerEnter}"></div>
                    </li>
                    <li>
                        <div class="player-subTitle">총득점</div>
                        <div class="player-total-score" name="playerTotalScore" th:text="${allPlayer.playerTotalScore}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a class="buttonBox">
      <span id="expandButton">확대하기 ▽
      </span>
    </a>
    <div class="mainBox">
        <div class="contentBox">
            <div class="playerContent" id="playerContent" name="playerContent" th:text="${allPlayer.playerContent}"/>
        </div>
    </div>
    <hr />
    <div class="player-detail">
        <ul class="detailBox">
            <li class="detail-groups">
                <span class="detail-title">포지션</span>
                <p class="positionMain"
                   th:text="${allPlayer.positionName}"
                   th:classappend="${allPlayer.positionName == 'GK' ? 'yellow' :
                   allPlayer.positionName == 'DF' ? 'blue' :
                   allPlayer.positionName == 'MF' ? 'green' :
                   allPlayer.positionName == 'FW' ? 'red' : ''}">
                </p>
            </li>
            <li class="detail-groups">
                <span class="detail-title">등번호</span>
                <p class="backNumberMain" name="backNumber" th:text="${allPlayer.playerBacknumber}">
                    </p>
            </li>
            <li class="detail-groups">
                <span class="detail-title">생년월일</span>
                <p class="brithMain" th:text="${#dates.format(allPlayer.playerBirth, 'yyyy년 MM월 dd일')}">
                    </p>
            </li>
        </ul>
    </div>
    <div class="news_area">
        <div class="news-title">
            <p>최신 뉴스</p>
        </div>
        <div class="news-section">
            <span class="material-symbols-rounded prev">chevron_left</span>
            <ul class="news-box">
                <li class="news-content">
                    <iframe
                            class="news-main"
                            src="https://www.youtube.com/embed/6k9Ox4io-Xs?si=f7EtN-lxRcLrUwrx"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="content-box">
                        <p class="contentTitle">보비 찰튼경 R.I.P</p>
                    </div>
                </li>
                <li class="news-content">
                    <iframe
                            class="news-main"
                            src="https://www.youtube.com/embed/iYfXQ1IaQQU?si=BYiytxFpV4_az1wh"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="content-box">
                        <p class="contentTitle">챔스권으로 가는 중요한 문턱..!</p>
                    </div>
                </li>
                <li class="news-content">
                    <iframe
                            class="news-main"
                            src="https://www.youtube.com/embed/MGYjmH0n5CQ?si=nbFppIA6lHCU5foz"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="content-box">
                        <p class="contentTitle">FA컵 너! 딱 대!!</p>
                    </div>
                </li>
                <li class="news-content">
                    <iframe
                            class="news-main"
                            src="https://www.youtube.com/embed/MGYjmH0n5CQ?si=nbFppIA6lHCU5foz"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="content-box">
                        <p class="contentTitle">FA컵 너! 딱 대!!</p>
                    </div>
                </li>
                <li class="news-content">
                    <iframe
                            class="news-main"
                            src="https://www.youtube.com/embed/MGYjmH0n5CQ?si=nbFppIA6lHCU5foz"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="content-box">
                        <p class="contentTitle">FA컵 너! 딱 대!!</p>
                    </div>
                </li>
            </ul>
            <span class="material-symbols-rounded next">chevron_right</span>
        </div>
    </div>
</div>



<footer class="footer" th:replace="fragment/footer :: footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/museum/allPlayerRead.js}"></script>
</body>
</html>
