<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mup.mapper.admin.AdminFileMapper">
    <insert id="insertPlayerFile">
        INSERT INTO TBL_PLAYER_FILE (PLAYER_FILE_NUMBER, PLAYER_FILE_NAME, PLAYER_FILE_UPLOAD_PATH, PLAYER_FILE_UUID, PLAYER_NUMBER)
        VALUES (SEQ_PLAYER_FILE.NEXTVAL, #{playerFileName}, #{playerFileUploadPath}, #{playerFileUuid}, #{playerNumber})
    </insert>

    <delete id="deletePlayerFile">
        DELETE FROM TBL_PLAYER_FILE
        WHERE PLAYER_NUMBER = #{playerNumber}
    </delete>

    <select id="selectList">
        SELECT PLAYER_FILE_NUMBER, PLAYER_FILE_NAME, PLAYER_FILE_UPLOAD_PATH, PLAYER_FILE_UUID, PLAYER_NUMBER
        FROM TBL_PLAYER_FILE
        WHERE PLAYER_NUMBER = #{playerNumber}
    </select>
</mapper>