<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MU | 맨쪽이들</title>
    <link rel="stylesheet" th:href="@{/css/maker/squadMaker.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fc4All.css}">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="container">
    <form class="save-form" action="#" method="post" enctype="multipart/form-data">
        <div class="save-space">
            <div class="squad-saveBox">
                <input type="text" id="squadContent" placeholder="스쿼드 제목을 입력해주세요..">
            </div>
            <div class="saveBtn">
                <button class="save-button">스쿼드 저장</button>
            </div>
        </div>

        <!-- 선수 검색 -->
        <div class="findPlayer" id="findModal">
            <div class="modal-contentP">
                <div class="header-tit">
                    <h1>선수 검색</h1>
                    <div class="btn_area">
                        <a href="#" class="closeMo">
                            <span class="hidden">닫기</span>
                        </a>
                    </div>
                </div>
                <div class="modalBox">
                    <form id="squadSearchform1" onsubmit="return false;">
                        <div class="wrap_l">
                            <div class="search_form">
                                <div class="search-panel">
                                    <div class="search_input_name">
                                        <input
                                                type="text"
                                                id="searchName"
                                                name="strPlayerName"
                                                placeholder="선수명을 입력해주세요."
                                                class="ui-autocomplete-input"
                                                autocomplete="off"
                                        />
                                    </div>

                                    <div class="search-input-submit">
                                        <button id="squadSearchPlayerBtn" class="search-btn">
                                            검색
                                        </button>
                                        <button class="reset-btn">초기화</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap_r">
                            <div class="search_list">
                                <div class="search_tab" id="searchPlayerOrderByTab">
                                    <div class="tab_list">
                                        <ul>
                                            <li class="active" id="orderbyTab1">
                                                <a href="#" onclick="squadGetPlayerList(-1, 0);">OVR</a>
                                            </li>
                                            <li class="active" id="orderbyTab2">
                                                <a href="#" onclick="squadGetPlayerList(-1, 0);">이름 순</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="search_content">
                                    <div class="char_wrap">
                                        <ul class="searchPlayer_Ul">
                                            <li class="searchPlayer_li" th:each="player : ${playerList}">
                                                <div class="searchPlayerBox">
                                                    <a href="#"  class="searchPlayer_Img">
                                                        <div class="img-list">
                                                            <img class="searchPlayer_imgBox" th:src="@{'/upload/' + ${player.playerFileUploadPath} + '/th_' + ${player.playerFileUuid} + '_' + ${player.playerFileName}}" alt="임시썸네일">
                                                        </div>
                                                        <div class="searchPlayer_content">
                                                            <span th:text="${player.positionName}" class="positionName" th:class="${'position-' + player.positionName}"></span>
                                                            <span th:text="${player.fameName}" class="fameName" th:class="${'fame-' + player.fameName}"></span>
                                                            <span th:text="${player.playerOverall}" class="playerOverall"></span>
                                                            <span th:text="${player.playerName}" class="playerName"></span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </form>

    <div class="squadMaker-Box">
        <div class="squadMaker-View">
            <div class="squadMaker-field f442">
                <!-- 골키퍼 -->
                <div class="player gk">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">GK</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <!-- 수비수 -->
                <div class="player rcb">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">RCB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="player lcb">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">LCB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="player rb">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">RB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="player lb">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">LB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <!-- 미드 필더 -->
                <div class="player rcm">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">RCM</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="player lcm">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">LCM</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="player rm">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">RM</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="player lm">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">LM</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <!-- 공격수 -->
                <div class="player cf">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">CF</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="player st">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">ST</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>
            </div>
        </div>

        <!-- 포메이션 찾기 -->
        <div class="squadMaker-tool">
            <div class="squad-selector">
                <a href="#" class="squadMaker-selector-current-value"> 4-4-2 </a>
                <div class="selector-list-wrap">
                    <div class="selector-list-contents">
                        <div class="selector-list active">
                            <div class="tit-list">
                                <div class="cate3">3 Back</div>
                                <div class="cate4">4 Back</div>
                                <div class="cate5">5 Back</div>
                            </div>
                            <div class="selector-list-total">
                                <div class="squad-list-type">
                                    <!-- 3back -->
                                    <ul>
                                        <li>
                                            <a href="#" data-value="f343">3-4-3</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f3412">3-4-1-2</a>
                                        </li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="squad-list-type">
                                    <ul>
                                        <li>
                                            <a href="#" data-value="f3232">3-2-3-2</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f3412">3-2-2-1-3</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f31213">3-1-2-1-3</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f3142">3-1-4-2</a>
                                        </li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <!-- 4back -->
                                <div class="squad-list-type">
                                    <ul>
                                        <li>
                                            <a href="#" data-value="f451">4-5-1</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f442">4-4-2</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4411">4-4-1-1</a>
                                        </li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="squad-list-type">
                                    <ul>
                                        <li>
                                            <a href="#" data-value="f433">4-3-3</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4321">4-3-2-1</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4312">4-3-1-2</a>
                                        </li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="squad-list-type">
                                    <ul>
                                        <li>
                                            <a href="#" data-value="f424">4-2-4</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4231">4-2-3-1</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4222">4-2-2-2</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f42211">4-2-2-1-1</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4213">4-2-1-3</a>
                                        </li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="squad-list-type">
                                    <ul>
                                        <li>
                                            <a href="#" data-value="f4141">4-1-4-1</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4132">4-1-3-2</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f4123">4-1-2-3</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f41212">4-1-2-1-2</a>
                                        </li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <!-- 5back -->
                                <div class="squad-list-type">
                                    <ul>
                                        <li>
                                            <a href="#" data-value="f541">5-4-1</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f532">5-3-2</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f523">5-2-3</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f5212">5-2-1-2</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="f51211">5-1-2-1-1</a>
                                        </li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 김독 -->
        <div class="squaMaker-aside">
            <div class="squadMaker-aside-wrap">
                <div class="squadMaker-coach">
                    <div class="btn_selected">
                        <a href="#" class="btn_default">
                            <span class="hidden">감독을 선택하여 주세요.</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 후보선수들 -->
            <div class="sqaudMaker-subPlayer">
                <div class="subplayer">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">SUB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="subplayer">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">SUB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="subplayer">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">SUB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="subplayer">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">SUB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="subplayer">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">SUB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>

                <div class="subplayer">
            <span class="empty">
              <span class="info">
                <span class="back"></span>
                <span class="position">SUB</span>
              </span>
              <span class="animate">
                <em></em>
                <em></em>
              </span>
            </span>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/maker/squadMaker.js}"></script>
</body>
</html>
