body {
    background-color: white;
}

.container {
    width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
}

.top-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-nameBox {
    width: 18%;
    font-size: 1.7rem;
    font-weight: bold;
}

.player-img-box {
    height: max-content;
}

.player-name {
    margin-left: 80px;
    margin-bottom: 90px;
}

.img-list {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 50%;
}

.player-Box {
    width: 18%;
    float: right;
    position: relative;
}

.player-info {
    text-align: center;
    overflow: hidden;
}

.player-content .player-info ul {
    margin-left: 0;
    list-style: none;
}

.player-content .player-info ul li {
    padding: 0 18px;
    width: 130px;
    list-style: none;
}

.player-subTitle {
    font-size: 0.875rem;
    line-height: 16px;
    width: 100%;
    float: left;
    margin-bottom: 2px;
    word-wrap: break-word;
}

.player-enter,
.player-total-score {
    font-size: 3rem;
    line-height: 48px;
    width: 100%;
    float: left;
    margin-bottom: 2px;
}

hr {
    margin-top: 30px;
}

.mainBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    width: 1000px;
    max-height: 210px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

.playerContent {
    font-size: 1.0625rem;
    line-height: 26px;
}

.buttonBox {
    display: flex;
    padding: 2px 22px 2px 10px;
    line-height: 30px;
    float: right;
    cursor: pointer;
    justify-content: center;
}

span#expandButton {
    border: none;
    background-color: white;
    margin-right: 5px;
}

.player-detail {
    display: flex;
    justify-content: center;
    width: 100%;
    float: left;
    margin-top: 0;
}

.detailBox {
    float: left;
}

.detail-groups {
    width: auto;
    min-height: 100px;
    float: left;
    padding: 30px;
}

.detail-title {
    margin-bottom: -5px;
    color: #717171;
    font-size: 0.875rem;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
}

.detail-groups > p {
    margin-top: 25px;
    line-height: 40px;
}

.backNumberMain {
    color: #9E9E9E;
    font-size: 1.875rem;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

.brithMain {
    font-size: 1.875rem;
    line-height: 40px;
    color: #bc9d4c;
}

.positionMain{
    line-height: 40px;
    font-size: 1.875rem;
}

/* 업다운 버튼 */
.up_down_area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    bottom: 30px;
    flex-direction: column;
    position: fixed;
    right: 30px;
    z-index: 3000;
    display: flex;
}

.link_top {
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    background-image: url("/img/pointTop.png");
    background-size: contain;
    border: NONE;
    background-color: SNOW;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    cursor: pointer;
}

/*포지션에 따른 색 변화*/
.yellow { color: yellow; }
.blue { color: blue; }
.green { color: green; }
.red { color: red; }